@media (prefers-color-scheme: dark) {
  .accord a,  /* Header */
  .accord .p-accordion-content { /* Content */
    color: #f9fafb  !important;
    background-color: #141616  !important;
  }
  .dialog, .p-dialog-header, .p-dialog-content, .p-dialog-footer {
    background-color: #141616;
    color: #fff;
  }
}

.section-separator {
  border-bottom: .5px solid #CECECF; /* Убедитесь, что переменная цвета определена */
  margin: 8px 0; /* Настройте отступы по своему усмотрению */
}